$icomoon-font-family: "PaisAlunos" !default;
$icomoon-font-path: "fonts" !default;

$i-add: "\e900";
$i-announcement: "\e901";
$i-archive: "\e902";
$i-arrow-down: "\e903";
$i-arrow-left: "\e904";
$i-arrow-right: "\e905";
$i-arrow-up: "\e906";
$i-ban: "\e907";
$i-bank-account: "\e908";
$i-bell: "\e909";
$i-block-quote: "\e90a";
$i-bold: "\e90b";
$i-bolt: "\e90c";
$i-book: "\e90d";
$i-bookmark: "\e90e";
$i-browser: "\e90f";
$i-bullet-list: "\e910";
$i-calendar: "\e911";
$i-camera: "\e912";
$i-cart: "\e913";
$i-check-mark: "\e914";
$i-chevron-down: "\e915";
$i-chevron-left: "\e916";
$i-chevron-right: "\e917";
$i-chevron-up: "\e918";
$i-clipboard: "\e919";
$i-clock: "\e91a";
$i-cloud: "\e91b";
$i-code: "\e91c";
$i-credit-card: "\e91d";
$i-desktop: "\e91e";
$i-dollar: "\e91f";
$i-dots-vertical: "\e920";
$i-dots-horizontal: "\e921";
$i-download: "\e922";
$i-drop: "\e923";
$i-dupliacte: "\e924";
$i-emoji: "\e925";
$i-englarge: "\e926";
$i-euro: "\e927";
$i-fast-forward: "\e928";
$i-file: "\e929";
$i-filters: "\e92a";
$i-flag: "\e92b";
$i-folder: "\e92c";
$i-fullscreen: "\e92d";
$i-gift: "\e92e";
$i-grid: "\e92f";
$i-hashtag: "\e930";
$i-heading: "\e931";
$i-heart: "\e932";
$i-help: "\e933";
$i-hide: "\e934";
$i-highlight: "\e935";
$i-home: "\e936";
$i-inbox: "\e937";
$i-indent-left: "\e938";
$i-indent-right: "\e939";
$i-info: "\e93a";
$i-italic: "\e93b";
$i-launch: "\e93c";
$i-link: "\e93d";
$i-live-chat: "\e93e";
$i-location: "\e93f";
$i-lock: "\e940";
$i-log-out: "\e941";
$i-mail: "\e942";
$i-mention: "\e943";
$i-menu: "\e944";
$i-message: "\e945";
$i-mic: "\e946";
$i-mobile: "\e947";
$i-moon: "\e948";
$i-music: "\e949";
$i-mute: "\e94a";
$i-paperclip: "\e94b";
$i-pencil: "\e94c";
$i-pie-chart: "\e94d";
$i-pilcrow: "\e94e";
$i-pin: "\e94f";
$i-play: "\e950";
$i-pound: "\e951";
$i-redo: "\e952";
$i-refresh: "\e953";
$i-remove: "\e954";
$i-rewind: "\e955";
$i-rss: "\e956";
$i-sale: "\e957";
$i-schedule: "\e958";
$i-search: "\e959";
$i-selector: "\e95a";
$i-send: "\e95b";
$i-settings: "\e95c";
$i-share: "\e95d";
$i-star: "\e95e";
$i-stars: "\e95f";
$i-stop: "\e960";
$i-strikethrough: "\e961";
$i-subtract: "\e962";
$i-success: "\e963";
$i-sun: "\e964";
$i-tablet: "\e965";
$i-text-centered: "\e966";
$i-text-justified: "\e967";
$i-text-left: "\e968";
$i-text-right: "\e969";
$i-thumbs-down: "\e96a";
$i-thumbs-up: "\e96b";
$i-ticket: "\e96c";
$i-trash: "\e96d";
$i-underline: "\e96e";
$i-undo: "\e96f";
$i-unlock: "\e970";
$i-upload: "\e971";
$i-user: "\e972";
$i-users: "\e973";
$i-video: "\e974";
$i-video-1: "\e975";
$i-video-off: "\e976";
$i-view: "\e977";
$i-volume: "\e978";
$i-warning: "\e979";
$i-yen: "\e97a";

